parso==0.8.4
pillow==11.1.0
asttokens==3.0.0
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cufft-cu12==11.2.1.3
docker-pycreds==0.4.0
nvidia-nvjitlink-cu12==12.4.127
multidict==6.1.0
nvidia-nccl-cu12==2.21.5
pyarrow==19.0.1
numpy==2.2.3
attrs==25.1.0
packaging==24.2
ipython==8.32.0
matplotlib==3.10.0
rich==13.9.4
nvidia-cusolver-cu12==11.6.1.9
tzdata==2025.1
fsspec==2024.12.0
propcache==0.3.0
aiohappyeyeballs==2.4.6
fancy-einsum==0.0.3
certifi==2025.1.31
stack-data==0.6.3
multiprocess==0.70.16
seaborn==0.13.2
networkx==3.4.2
protobuf==5.29.3
nvidia-cusparselt-cu12==0.6.2
requests==2.32.3
sympy==1.13.1
charset-normalizer==3.4.1
accelerate==1.4.0
pydantic==2.10.6
sentry-sdk==2.22.0
dill==0.3.8
typeguard==4.4.2
executing==2.2.0
datasets==3.3.2
transformer-lens==2.15.0
pure_eval==0.2.3
fonttools==4.56.0
nvidia-cuda-nvrtc-cu12==12.4.127
safetensors==0.5.2
click==8.1.8
tokenizers==0.21.0
tqdm==4.67.1
nvidia-cublas-cu12==12.4.5.8
huggingface-hub==0.29.1
beartype==0.14.1
python-dateutil==2.9.0.post0
regex==2024.11.6
typing_extensions==4.12.2
MarkupSafe==3.0.2
pyparsing==3.2.1
wadler_lindig==0.1.3
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
aiosignal==1.3.2
torch==2.6.0
setuptools==75.8.0
jedi==0.19.2
xxhash==3.5.0
PyYAML==6.0.2
prompt_toolkit==3.0.50
matplotlib-inline==0.1.7
mdurl==0.1.2
filelock==3.17.0
nvidia-curand-cu12==10.3.5.147
transformers==4.49.0
pydantic_core==2.27.2
psutil==7.0.0
platformdirs==4.3.6
einops==0.8.1
wcwidth==0.2.13
pip==23.2.1
wandb==0.19.7
pytz==2025.1
better-abc==0.0.3
setproctitle==1.3.5
nvidia-nvtx-cu12==12.4.127
ptyprocess==0.7.0
frozenlist==1.5.0
urllib3==2.3.0
markdown-it-py==3.0.0
aiohttp==3.11.13
nvidia-cusparse-cu12==12.3.1.170
gitdb==4.0.12
decorator==5.2.1
GitPython==3.1.44
annotated-types==0.7.0
sentencepiece==0.2.0
contourpy==1.3.1
Pygments==2.19.1
pandas==2.2.3
Jinja2==3.1.5
idna==3.10
six==1.17.0
cycler==0.12.1
smmap==5.0.2
pexpect==4.9.0
triton==3.2.0
yarl==1.18.3
kiwisolver==1.4.8
jaxtyping==0.2.38
mpmath==1.3.0
transformers-stream-generator==0.0.5
traitlets==5.14.3
packaging==24.2
inflect==7.3.1
backports.tarfile==1.2.0
wheel==0.43.0
jaraco.functools==4.0.1
jaraco.context==5.3.0
typing_extensions==4.12.2
platformdirs==4.2.2
zipp==3.19.2
more-itertools==10.3.0
jaraco.text==3.12.1
autocommand==2.2.2
typeguard==4.3.0
importlib_metadata==8.0.0
jaraco.collections==5.1.0
tomli==2.0.1
